apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ${HTTPROUTE_NAME}
  namespace: ${K8S_NAMESPACE}
  labels:
    app.kubernetes.io/part-of: ${PROJECT_NAME}
spec:
  parentRefs:
    - name: ${GATEWAY_NAME}
      sectionName: ${GATEWAY_HTTP_LISTENER_NAME}

  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /api
      backendRefs:
        - name: ${BACKEND_NAME}
          port: ${REST_PORT}

    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: ${FRONTEND_NAME}
          port: ${FRONTEND_PORT}
