apiVersion: v1
kind: Service
metadata:
  name: ${FRONTEND_NAME}
  namespace: ${K8S_NAMESPACE}
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/part-of: ${PROJECT_NAME}
spec:
  type: ClusterIP

  selector:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/part-of: ${PROJECT_NAME}

  ports:
    - name: http
      port: ${FRONTEND_PORT}
      targetPort: http
      protocol: TCP
